{
  "openapi": "3.0.1",
  "info": {
    "title": "CloudRadial",
    "description": "The CloudRadial API is currently in development. For more information visit \u003Ca href='https://radials.io/api' target='_blank'\u003Ehttps://radials.io/api\u003C/a\u003E",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.us.cloudradial.com"
    }
  ],
  "paths": {
    "/v2/odata/archiveitem": {
      "get": {
        "tags": [
          "ArchiveItem"
        ],
        "summary": "Gets archive items with OData query support",
        "operationId": "v2/odata/ArchiveItem",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/odata/archiveitem/$count": {
      "get": {
        "tags": [
          "ArchiveItem"
        ],
        "summary": "Gets archive items with OData query support",
        "operationId": "v2/odata/ArchiveItem/$count",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/archiveitem/{archiveId}/{itemId}": {
      "get": {
        "tags": [
          "ArchiveItem"
        ],
        "summary": "Get a single archive item by archiveId (folder) and itemId",
        "parameters": [
          {
            "name": "archiveId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "ArchiveItem"
        ],
        "summary": "Full update of archive item",
        "parameters": [
          {
            "name": "archiveId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "ArchiveItem"
        ],
        "summary": "JSON-Patch partial update",
        "parameters": [
          {
            "name": "archiveId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "ArchiveItem"
        ],
        "parameters": [
          {
            "name": "archiveId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v2/archiveitem": {
      "post": {
        "tags": [
          "ArchiveItem"
        ],
        "summary": "Create a new archive item (without attachment upload). Use separate endpoint for file upload later.",
        "requestBody": {
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/v2/odata/article": {
      "get": {
        "tags": [
          "Article"
        ],
        "summary": "Gets articles",
        "description": "Supports OData filtering, sorting, and paging.",
        "operationId": "v2/odata/Article",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/odata/article/$count": {
      "get": {
        "tags": [
          "Article"
        ],
        "summary": "Gets articles",
        "description": "Supports OData filtering, sorting, and paging.",
        "operationId": "v2/odata/Article/$count",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=full;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.metadata=none;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=true;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;odata.streaming=false;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;IEEE754Compatible=false": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/json;IEEE754Compatible=true": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/article/{articleId}": {
      "get": {
        "tags": [
          "Article"
        ],
        "summary": "Get an article by ID",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "Article ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json;odata.metadata=minimal;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              },
              "application/json;odata.metadata=minimal;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              },
              "application/json;odata.metadata=minimal": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=true": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              },
              "application/json;odata.metadata=full;odata.streaming=false": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              },
              "application/json;odata.metadata=full": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              },
              "application/json;odata.metadata=none;odata.streaming=true": {
[...]
